@using Henxun.Cms.ViewModels
@model Henxun.Cms.ViewModels.MenuAddOrModifyModel
@addTagHelper *,Henxun.Cms.Admin
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body style="padding:10px">
    <form id="addRole" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            @Html.LabelFor(m => m.Name, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.DisplayName, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.DisplayName, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.IconUrl, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.IconUrl, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.LinkUrl, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.LinkUrl, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.Sort, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.Sort, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.IsDisplay, new { Class = "layui-form-label" })
            <cl-switch asp-for="IsDisplay" asp-switch-text="是|否"></cl-switch>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.IsSystem, new { Class = "layui-form-label" })
            <cl-switch asp-for="IsSystem" asp-switch-text="是|否"></cl-switch>
        </div>
        <div class="layui-form-item layui-right">
            <button class="layui-btn" lay-submit lay-filter="add">确定</button>
        </div>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form, $ = layui.$;
            form.on('submit(add)', function (data) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Menu/Post",
                    data: data.field,
                    success: function (result) {
                        layer.msg(result.msg, { icon: 6, area: ['450px', ''], shade: [0.5, '#000', true] });
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);//关闭弹出的子页面窗口
                        window.parent.location.reload();//写在这里的话是只有提交成功了才刷新那个页面
                    },
                    error: function () {
                        layer.msg(result.msg, { icon: 2, area: ['450px', ''], shade: [0.5, '#000', true] });
                    }
                });
                return false;
            })
        })
    </script>
</body>
</html>