@addTagHelper *,Henxun.Cms.Admin
@using Henxun.Cms.Models
@model Henxun.Cms.ViewModels.ManagerRoleAddOrModifyModel
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body style="padding:10px">
    <form id="addUser" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item layui-hide">
            <label for="id" class="layui-form-label"></label>
            <div class="layui-input-block">
                <input id="id" name="id" type="number" class="layui-input" lay-verify="required" value="@ViewData.Model.Id" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="roleName" class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input id="roleName" name="roleName" class="layui-input" lay-verify="required" value="@ViewData.Model.RoleName" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="roleType" class="layui-form-label">角色类型</label>
            <div class="layui-input-block">
                <input id="roleType" name="roleType" class="layui-input" lay-verify="required" value="@ViewData.Model.RoleType" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单列表</label>
            <div class="layui-input-block">
                @foreach (var item in ViewBag.Menus as IEnumerable<Menu>)
                {
                    @if (ViewData.Model.MenuIds != null && ViewData.Model.MenuIds.Contains(item.Id))
                    {
                        <input type="checkbox" id="@item.Id" name="menuIds[]" title="@item.DisplayName" value="@item.Id" checked />
                    }
                    else
                    {
                        <input type="checkbox" id="@item.Id" name="menuIds[]" title="@item.DisplayName" value="@item.Id" />
                    }

                }
            </div>
        </div>
        <div class="layui-form-item">
            <label for="isSystem" class="layui-form-label">系统默认</label>
            <cl-switch asp-for="IsSystem" asp-switch-text="是|否"></cl-switch>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="remark" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" class="layui-textarea" maxlength="128">@ViewData.Model.Remark</textarea>
            </div>
        </div>
        <div class="layui-form-item layui-right">
            <button class="layui-btn" lay-submit lay-filter="confirm">确定</button>
        </div>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/submit.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script type="text/javascript" src="~/js/verify.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        registerSubmit('ManagerRole')
    </script>
</body>
</html>

