@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *,Henxun.Cms.Admin
@model Henxun.Cms.ViewModels.ManagerAddOrModifyModel
@{
    Layout = null;
    var roleList = ViewBag.RoleList as IEnumerable<SelectListItem>;
}
<html>
<head>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
</head>
<body style="padding:10px">
    <form id="addUser" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item layui-hide">
            @Html.LabelFor(m => m.Id, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.Id, new { Class = "layui-input" })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.UserName, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.RoleId, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.DropDownListFor(m => m.RoleId, roleList)
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.NickName, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.NickName, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.Email, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.Mobile, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.EditorFor(m => m.Mobile, new { htmlAttributes = new { @type = "number", @class = "layui-input" } })
            </div>
        </div>
        <div class="layui-form-item">
            @Html.LabelFor(m => m.IsLock, new { Class = "layui-form-label" })
            <cl-switch asp-for="IsLock" asp-switch-text="是|否"></cl-switch>
            @*@Html.LabelFor(m => m.IsLock, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.CheckBoxFor(m => m.IsLock, new String("lay-skin='switch' lay-filter='switchTest lay-Text='是|否'"))
            </div>*@
        </div>
        <div class="layui-form-item layui-form-text">
            @Html.LabelFor(m => m.Remark, new { Class = "layui-form-label" })
            <div class="layui-input-block">
                @Html.TextAreaFor(m => m.Remark, new { @placeholder = "请输入内容", Class = "layui-textarea" })
            </div>
        </div>
        <div class="layui-form-item layui-right">
            <button class="layui-btn" lay-submit lay-filter="addUser">确定</button>
        </div>
    </form>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(addUser)', function (data) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Manager/Post",
                    data: data.field,
                    success: function (result) {
                        layer.msg(result.msg, { icon: 6, area: ['450px', ''], shade: [0.5, '#000', true] });
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);//关闭弹出的子页面窗口
                        window.parent.location.reload();//写在这里的话是只有提交成功了才刷新那个页面 
                    },
                    error: function () {
                        layer.msg(result.msg, { icon: 2, area: ['450px', ''], shade: [0.5, '#000', true] });
                    }
                });
                return false;
            })
        })
    </script>
</body>
</html>
